@import "tailwindcss";

:root {
  --bg-color: #C4A1FF;
  --color-colerr: #FF6B6B;
  --color-colsol: #7FBC8C;
  --small-dropshadow: 4px 6px 0px rgba(0, 0, 0, 1);
  --big-dropshadow: 7px 10px 0px rgba(0, 0, 0, 1);
  --big-dropshadoww: 7px 10px 0px rgb(151, 35, 201);
  --shadow-anim: 1px 1px 0px rgba(0, 0, 0, 1);
  --color-main: #9723C9;
  --color-hover-main: #bb4aee;
  --color-sec: #E2A1FF;
  --border: 50px solid #000000;
}

@theme inline {
  --color-bg: var(--bg-color);
  --color-colerr: var(--color-colerr);
  --color-colsol: var(--color-colsol);
  --shadow-small: var(--small-dropshadow);
  --shadow-big: var(--big-dropshadow);
  --shadow-secbig: var(--big-dropshadoww);
  --shadow-anim: var(--shadow-anim);
  --color-main: var(--color-main);
  --color-sec: var(--color-sec);

  --font-title: var(--font-public-sans);
  --font-body: var(--font-open-sans);
}